@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

$logoFont: 'Charmonman', cursive;
$mainFont: 'Open Sans', sans-serif;
$baseFontSize: 14px;

$pageWidth: 1200px;