$headerColor: #4a4a49;
$buttonsColor: #FF6600;
$navColor: #5B605F;
$bgdColor: #FFFFFA;
$infoColor: #3498DB;
$warningColor: #FFB03B;
$successColor: #468966;
$trashIconColor: #BD4932;
$tableColor: #A1A194;